section{
    width: 1000px;
    height: 800px;
    background-color: black;

}

article{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: brown;
    float: left;
}