section{
    width: 1000px;
    height: 800px;
    background-color: purple;

}

article{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: pink;
    float: left;
}