section{
    width: 1000px;
    height: 800px;
    background-color: red;

}

article{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: yellow;
    float: left;
}